@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
    --accent-color: #8B1D1D;
    --background-color: #040b10;
    --secundary-color: #150a24;
    --white-color: #FFFFFF;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.sidebar {
    padding: 4px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template: 1fr 10fr / 1fr;
    gap: 10px;
}
.menu-container {
    display: grid;
    grid-template: repeat(12, 1fr) 3fr / 1fr;
    gap: 2px;
}
.menu-selection-container {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.dashboard-container {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0px;
}

.dashboard-logo {
    justify-self: end;
}
.dashboard {
    font-size: 2rem;
    padding-top: 3px;
    margin: 0px;
    padding: 0px;
}
.menu {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.dashboard-logo-title {
    width: 60px;
    justify-self: end;
    padding: 0px;
    margin: 0px;
}

.header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: grid;
    gap: 30px;
    align-items: center;
    grid-template: 1fr 2fr/ 1fr;
    background-color: var(--background-color);
}
.searchbar-container {
    display: grid;
    gap: 5px;
    align-items: center;
    grid-template: 1fr/ 1fr 7fr 0.5fr 0.5fr 0.5fr 2fr;
}
.search-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
}
.search-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.bell-icon {
    grid-column: 4/5;
    grid-row: 1/2;
}
.profile-icon {
    grid-column: 5/6;
    grid-row: 1/2;
}
.username {
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    grid-column: 6/7;
    grid-row: 1/2;
}

.profile-info {
    display: grid;
    align-items: center;
    grid-template: 0.5fr 2fr / 1fr 3fr 2fr 0.5fr 0.5fr 1fr;
}
.bigger-profile-icon {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: end;
    padding-right: 20px;
    width: 70px;
}
.welcome-message {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    align-self: end;
    padding: 0px;
    margin: 0px;
}
.main-username {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 1.8rem;
    align-self: flex-start;
}
.new-button {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    margin-right: 15px;
}
.upload-button {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    margin-right: 15px;
}
.share-button {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
    margin-right: 15px;
}
button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 10px;
    border-color: var(--white-color);
    border-radius: 10px;
    width: 80px;
}
.profile-link {
    color: var(--accent-color);
}



.main-content {
    display: grid;
    grid-template: 1fr 10fr 1fr / 8fr 2fr;
}
.your-projects-text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    background-color: var(--background-color);
    padding-left: 50px;
}

.announcements-text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    background-color: var(--background-color);
}
.your-projects {
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    align-self: center;
    font-size: 1.5rem;
}

.projects-cards-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: slateblue;
    display: grid;
    padding: 50px 50px;
}
.card {
    display: grid;
    grid-template: 1fr 5fr 1fr / 1fr 50fr;
    width: 400px;
    height: 150px;
    background-color: var(--white-color);
}
.card-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.card-description {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.functionalities {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.redline {
    background-color: var(--accent-color);
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
.announcements-trending-cards-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: red;
}
.empty-div {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: violet;
}

